
<%= render 'header' %>
<%= render 'alert'%>
<h3 style="text-align: center; margin-top: 10%;" >Editar vivência</h3>
<section id="about" style="padding-top: 0%;">>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class='mt-5'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="py-5 bg-dark" style="margin-top: 5%;">
    <div class="container">
        <p class="m-0 text-center text-white">© All rights Reserved. Developed by CJR.</p>
    </div>
    <!-- /.container -->
</footer>