
<%= render 'header' %>
<%= render 'alert'%>
<h3 style="text-align: center; margin-top: 10%;" >Editar vivência</h3>
<section id="about" style="padding-top: 0%;">>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class='mt-5'>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'footer' %>