<p>Bem-vindo(a) ao Circuito de Vivências!</p>

<p>Você se cadastrou em nosso site com os seguintes dados:</p>

<p>Nome Completo: <%= @user.name %> <%= @user.surname %><br>
CPF: <%= @user.cpf %></p>

<p>Atenciosamente,<br>
Equipe do Circuito de Vivências</p>
