<div class='mt-5'>
    <table class='table table-striped'>
      <thead class='thead-light'>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>Título</th>
          <th scope='col'>feedback</th>
          <th scope='col'>Ver</th>
        </tr>
      </thead>
      <tbody>
        <% if @workshops.present? %>
          <% @workshops.each do |workshop| %>
            <tr>
              <th scope='row'><%= workshop.id %></th>
              <td><%= workshop.title %></td>
              <td><%= link_to 'Ver feedback', rejected_workshop_feedback_path(id: workshop.id) %></td>
              <td><%= link_to 'Ver', workshop_path(workshop) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>