<p>Você enviou uma nova vivência para o Circuito de Vivências!</p>

<p>Esses são os dados da sua vivência:</p>

<p>Título: <%= @workshop.title %><br>
Resumo: <%= @workshop.resume %></p>

<p>Atenciosamente,<br>
Equipe do Circuito de Vivências</p>
