/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require supervisor_dashboard
 */

@import "bootstrap";
@import "src/assets/styles/index";
<<<<<<< HEAD
@import "comment";

=======
>>>>>>> 24d8e60e8f7fd0b3fbf6e676d92600af86ffa482
.custom-alert-position {
    position: fixed;
    top: 1vw;
    right: 1vw;
    text-align: right;
    z-index: 1;
    cursor: pointer;
}

.content-field {
    resize: none;
}

.header-image {
    margin-top: 3.5%;
    height: 500px;
    width: 100%;
    padding: 0;
}

.bg-image-full {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}

.no_workshops_message {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.accepted-tex {
    color: green;
}

.in-hold-text {
    color: gray;
}

.rejected-text {
    color: red;
}

.rejected-text:hover {
    color: #D80F46;
}

@media (min-width: 1600px) {
    .col-xxl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xxl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-xxl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xxl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xxl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xxl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xxl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xxl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xxl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xxl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xxl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xxl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xxl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xxl-first {
        -ms-flex-order: -1;
        order: -1;
    }
    .order-xxl-last {
        -ms-flex-order: 13;
        order: 13;
    }
    .order-xxl-0 {
        -ms-flex-order: 0;
        order: 0;
    }
    .order-xxl-1 {
        -ms-flex-order: 1;
        order: 1;
    }
    .order-xxl-2 {
        -ms-flex-order: 2;
        order: 2;
    }
    .order-xxl-3 {
        -ms-flex-order: 3;
        order: 3;
    }
    .order-xxl-4 {
        -ms-flex-order: 4;
        order: 4;
    }
    .order-xxl-5 {
        -ms-flex-order: 5;
        order: 5;
    }
    .order-xxl-6 {
        -ms-flex-order: 6;
        order: 6;
    }
    .order-xxl-7 {
        -ms-flex-order: 7;
        order: 7;
    }
    .order-xxl-8 {
        -ms-flex-order: 8;
        order: 8;
    }
    .order-xxl-9 {
        -ms-flex-order: 9;
        order: 9;
    }
    .order-xxl-10 {
        -ms-flex-order: 10;
        order: 10;
    }
    .order-xxl-11 {
        -ms-flex-order: 11;
        order: 11;
    }
    .order-xxl-12 {
        -ms-flex-order: 12;
        order: 12;
    }
    .offset-xxl-0 {
        margin-left: 0;
    }
    .offset-xxl-1 {
        margin-left: 8.333333%;
    }
    .offset-xxl-2 {
        margin-left: 16.666667%;
    }
    .offset-xxl-3 {
        margin-left: 25%;
    }
    .offset-xxl-4 {
        margin-left: 33.333333%;
    }
    .offset-xxl-5 {
        margin-left: 41.666667%;
    }
    .offset-xxl-6 {
        margin-left: 50%;
    }
    .offset-xxl-7 {
        margin-left: 58.333333%;
    }
    .offset-xxl-8 {
        margin-left: 66.666667%;
    }
    .offset-xxl-9 {
        margin-left: 75%;
    }
    .offset-xxl-10 {
        margin-left: 83.333333%;
    }
    .offset-xxl-11 {
        margin-left: 91.666667%;
    }
}

.pb-video-container {
    padding-top: 20px;
    background: #ffffff;
    font-family: Lato;
    border-radius: 25px;
}

.pb-video {
    border: 1px solid #e6e6e6;
    padding: 5px;
}

.pb-video:hover {
    background: #F7DB47;
}

.pb-video-frame {
    transition: width 2s, height 2s;
}

.pb-video-frame:hover {
    height: 300px;
}

.pb-row {
    margin-bottom: 10px;
}

.videos-index-title {
    text-align: center;
    margin-bottom: 5%;
    color: white;
}

.video-background {
    background-image: url('fundo_provisorio.jpg');
    background-size: 100%;
    padding-top: 5%;
    padding-bottom: 20%;
}

.btn-voltar {
    margin-left: 10%;
}

.admin-videos-index-title {
    text-align: center;
    margin-bottom: 5%;
}

.buttons-container {
    margin-top: 10%;
}