/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "supervisor_dashboard";
@import "src/assets/styles/index";

.custom-alert-position {
  position: fixed;
  top: 1vw;
  right: 1vw;
  text-align: right;
  z-index: 1;
  cursor: pointer;
}

.dashboard-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
}

.dashboard-items {
  padding: 0;
  margin: 0.25em;
  display: flex;
  vertical-align: 50%;
  justify-content: space-evenly;
}

.dashboard-items li {
  list-style-type: none;
}
