<p>Ola <%= @resource.email %>!</p>

<p>Alguém rquisitou um link para mudar sua senha. Você pode fazer isso atravéz do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou isso, por favor ignore este email.</p>
<p>Sua senha não mudará até que você acesse o link acima e criar uma nova.</p>
